body {
  min-height: 100vh;
  margin: 0;
}
.main-wrapper {
  display: flex;
  min-height: inherit;
  width: 100%;
}
.left-wrapper {
  width: 50%;
  background-color: aquamarine;
  height: inherit;
}
.right-wrapper {
  width: 50%;
  background-color: pink;
  height: inherit;
}
