body {
  min-height: 200vh;
  margin: 0;
}
.top {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  height: 200vh;
  width: 100%;
}
.top::before {
  content: " ";
  background-image: url(ananasiki2.jpg);
  background-size: cover;
  position: absolute;
  /* height: 200vh; */
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}
.under-image {
  height: 100px;
  margin: 0;
}
.picture {
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 100;
}
.photos {
  position: relative;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-fruit1 {
  position: absolute;
  width: 150px;
  height: 150px;
}
.photo-fruit2 {
  width: 150px;
  height: 150px;
}
.photo-fruit3 {
  width: 150px;
  height: 150px;
}
.photo-fruit4 {
  width: 150px;
  height: 150px;
}
